<div class="card-product w-25 align-content-center">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= @office.title %></h2>
    <p><%= @office.description %></p>
    <h3><%= @office.price %> dh</h3>
  </div>
</div>
  <h1><%= @office.user.name %></h1>
