a{
text-decoration: none;
color:black;

}

.logo{
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  font-size: x-large;
}

.somemaging{
  margin-top: 10px ;

}

.nav-bar{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.logo2{
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  font-size: large;
  border-bottom: 1px solid lightgray;
}

footer{
  margin-top: 15px;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
}
