a{
text-decoration: none;
color:black;

}

.logo{
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  font-size: x-large;
}

.somemaging{
  margin-top: 10px ;

}



.nav-bar{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-left: -70px;
}

.logo2{
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  font-size: large;
  margin-left: -90px;
  border-bottom: 1px solid lightgray;
}
